@tailwind base;

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: hsl(210, 46%, 95%);
}

@media screen and (min-width: 1280px) {

    #content-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    #section-daniel {
        grid-column: 1 / 3;
    }
 
    #section-jonathan {
        grid-column: 3 / 4; 
    }

    #section-patrick {
        grid-column: 2 / 4;
    }

    #section-jeanette {
        grid-column: 1 / 2;
    }

    #section-kira {
        grid-column: 4 / -1;
        grid-row: 1 / 3;
    }
    
}

@tailwind components;
@tailwind utilities;